<div class="header">
    <div class="logo">
        <img src="assets/svg/Logo.svg">
        <p>Furniro</p>
    </div>
    <div class="navigation-wrapper">
        <ul>
            <li><a>Home</a></li>
            <li><a>Shop</a></li>
            <li><a>About</a></li>
            <li><a>Contact</a></li>
        </ul>
    </div>
    <div class="help-navigator">
        <ul>
            <li><img src="assets\Vector (1).svg"></li>
            <li><img src="assets\Vector (2).svg"></li>
            <li><img src="assets\Vector (3).svg"></li>
            <li><img src="assets\Vector (4).svg"></li>
        </ul>
    </div>
</div>
<div class="background_block">
    <img class="background" src="assets\svg\Background-interior.svg">
    <img class="logo" src="assets\svg\Logo.svg">
    <p class="p1">Product Comparison</p>
    <p class="p2"><span>Home > </span>Comparison</p>
</div>

<div class="description">
    <div class="left_side">
        <p>Go to Product page for more Products</p>
        <a href="">View More</a>
    </div>
    <div class="picture_block">
        <img src="assets\Asgaard sofa 3.svg">
        <h2>Asgaard Sofa</h2>
        <p>Rs. 250,000.00</p>
        <div class="rating">
            <span>4.7</span>
            <img src="assets\stars.jpg">
            <hr>
            <p>204 Review</p>
        </div>
    </div>
    <div class="picture_block">
        <img src="assets\Outdoor sofa set 1.svg">
        <h2>Outdoor Sofa Set</h2>
        <p>Rs. 224,000.00</p>
        <div class="rating">
            <span>4.2</span>
            <img src="assets\stars.jpg">
            <hr>
            <p>145 Review</p>
        </div>
    </div>
    <div class="right_side">
        <p>Add a Product</p>
        <select>
            <option>Choose a Product</option>
        </select>
    </div>
</div>

<div class="information_body">
    <div>
        <table>
            <tr>
                <th>General</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td>Sales Package</td>
                <td>1 sectional sofa</td>
                <td>1 Three Seater, 2 Single Seater</td>
            </tr>
            <tr>
                <td>Model Number</td>
                <td>TFCBLIGRBL6SRHS</td>
                <td>DTUBLIGRBL568</td>
            </tr>
            <tr>
                <td>Secondary Material</td>
                <td>Solid Wood</td>
                <td>Solid Wood</td>
            </tr>
            <tr>
                <td>Configuration/td>
                <td>L-shaped</td>
                <td>L-shaped</td>
            </tr>
            <tr>
                <td>Upholstery Material</td>
                <td>Fabric + Cotton</td>
                <td>Fabric + Cotton</td>
            </tr>
            <tr>
                <td>Upholstery Color</td>
                <td>Bright Grey & Lion</td>
                <td>Bright Grey & Lion</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th>Product</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td>Filling Material</td>
                <td>Foam</td>
                <td>Matte</td>
            </tr>
            <tr>
                <td>Finish Type</td>
                <td>Bright Grey & Lion</td>
                <td>Bright Grey & Lion</td>
            </tr>
            <tr>
                <td>Adjustable Headrest</td>
                <td>No</td>
                <td>yes</td>
            </tr>
            <tr>
                <td>Maximum Load Capacity</td>
                <td>280KG</td>
                <td>300KG</td>
            </tr>
            <tr>
                <td>Origin of Manufacture</td>
                <td>India</td>
                <td>India</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th>Dimensions</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td>Width</td>
                <td>265.32cm</td>
                <td>265.32cm</td>
            </tr>
            <tr>
                <td>Height</td>
                <td>76cm</td>
                <td>76cm</td>
            </tr>
            <tr>
                <td>Depth</td>
                <td>167.76cm</td>
                <td>167.76cm</td>
            </tr>
            <tr>
                <td>Weight</td>
                <td>45KG</td>
                <td>65KG</td>
            </tr>
            <tr>
                <td>Seat Height</td>
                <td>41.52cm</td>
                <td>41.52cm</td>
            </tr>
            <tr>
                <td>Leg Height</td>
                <td>5.46cm</td>
                <td>5.46cm</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th>Warranty</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td>Warranty Summary</td>
                <td>1 Year Manufacturing Warranty</td>
                <td>1.2 Year Manufacturing Warranty</td>
            </tr>
            <tr>
                <td>Warranty Service Type</td>
                <td>For Warranty Claims or
                    Any Product Related Issues Please Email at operations"&#64;"trevifurnitu</td>
                <td>For Warranty Claims or
                    Any Product Related Issues Please Email at <a>support"&#64;"xyz.com</a></td>
            </tr>
            <tr>
                <td>Covered in Warranty</td>
                <td>Warranty Against
                    Manufacturing Defect</td>
                <td>Warranty of the product is limit of the product
                    manufacturing defects only.
                    </td>
            </tr>
            <tr>
                <td>Not Covered in Warranty</td>
                <td>The Warranty Does Not Cover Damages Due TO
                    Usage Of The Product Beyond Its Intended Use And Wear & Tear In The Natural Course Of Product Usage.</td>
                <td>The Warranty Does Not Cover Damages Due TO
                    Usage Of The Product Beyond Its Intended Use And Wear & Tear In The Natural Course Of Product Usage.
                    </td>
            </tr>
            <tr>
                <td>Domestic Warranty</td>
                <td>1 Year</td>
                <td>3 Months</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><button><a href="">Add To Cart</a></button></td>
                <td><button><a href="">Add To Cart</a></button></td>
            </tr>
        </table>
    </div>
</div>
<div class="dashboard">
    <div class="block">
        <img src="assets\svg\Trophy.svg">
        <div class="text">
            <p>High Quality</p>
            <span>crafted from top materials</span>
        </div>
    </div>
    <div class="block">
        <img src="assets\svg\Checked.svg">
        <div class="text">
            <p>Warranty Protection</p>
            <span>Over 2 years</span>
        </div>
    </div>
    <div class="block">
        <img src="assets\svg\Gift.svg">
        <div class="text">
            <p>Free shipping</p>
            <span>Order over 150 $</span>
        </div>
    </div>
    <div class="block">
        <img src="assets\svg\Support.svg">
        <div class="text">
            <p>24 / 7 Support</p>
            <span>Dedicated support</span>
        </div>
    </div>
</div>
<hr>
<div class="footer">
    <div class="left_bar">
        <p>Funiro.</p>
        <span>400 University Drive Suite 200 Caral <br> Gables,<br>FL 33134 USA</span>
    </div>
    <div class="links">
        <ul>
            <p>Links</p>
            <li><a>Home</a></li>
            <li><a>Shop</a></li>
            <li><a>About</a></li>
            <li><a>Contact</a></li>
        </ul>
    </div>
    <div class="help">
        <ul>
            <p>Help</p>
            <li>Payment Options</li>
            <li>Returns</li>
            <li><a>Privacy Policies</a></li>
        </ul>
    </div>
    <div class="right_bar">
        <p class="p1">Newsletter</p>
        <div>
            <p class="p2">Enter Your Email Adress</p>
            <span> SUBSCRIBE</span>
        </div>
    </div>
</div>
<div class="ending">
    <hr>
    <p>2023 furino. All rights reverved</p>
</div>