body{
    margin: 0;
}
.header{
    padding: 15px;
    display:flex;
    font-family:sans-serif;
    height: 80px;
    .logo{
        display: flex;
        img{
            width:50px;
            height: 70px;
        }
        p{
            font-weight: bold;
            margin-top:20px;
            font-size: 30px;
        }
    }
    .navigation-wrapper{
        margin-left: 20%;
    }
    .help-navigator{
        margin-left:10%;
        ul{
            li{
                margin: 10px;
            }
        }
    }
    ul {
        list-style-type: none;
        margin-top: 15px;
        padding: 0;
        overflow: hidden;
        li {
            float: left;
            a {
                display: block;
                color: rgb(0, 0, 0);
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-weight: bold;
            }
        }
        li:hover{
            background-color: darkgoldenrod;
            a{
                color: white;
            }
        }
    }
}
.background_block{
    position: relative;
    height: 300px;
    img{
        position: relative;
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: blur(2px) opacity(0.8);
    }
    p{
        position: absolute;
        left:42%;
        font-family: 'Courier New', Courier, monospace;
    }
    .p1{
        top:21%;
        font-size: 50px;
        font-weight: bold;
    }
    .p2{
        top:150px;
        font-size: 18px;
        position: absolute;
        span{
            font-weight: bold;
        }
    }
}

.filter_bar{
    margin-bottom: 30px;
    background-color: #fff1c4;
    position: relative;
    height: 50px;
    display:flex;
    padding:0px 40px;
    font-family:Arial, Helvetica, sans-serif;
    img{

        width:20px;
        height: 20px;
        margin:15px;
        
    }
    span{
        margin:15px;
        font-size: 18px;
    }
    hr{
        position: relative;
        margin:10px;
        margin-left: 15px;
    }
    p{
        margin-left: 10px;
        
    }
    div{
        position: absolute;
        right: 0;
        margin-right: 40px;
        margin-top: 15px;
        input{
            border: none;
            height: 20px;
        }
        .input1{
            width:20px;
        }
    }
    
}

.item{
    padding:0px 10px;
    position: relative;
    h2{
        text-align: center;
        font-family: sans-serif;
    }
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    .line{
        align-items: center;
        display: flex;
        height:450px;
        padding-left: 60px;
        position: relative;
        padding-right: 80px;
        div{
            background-color: rgba(234, 232, 232, 0.731);
            margin:10px;
            display: block;
            height: 400px;
            position: relative;
            p{
                margin: 10px;
            }
            img{
                object-fit: cover;
                height: 65%;
                width:280px;
                position: relative;
            }
            .sale{
                right:0;
                width: 50px;
                height:50px;
                position: absolute;
                top:0;
                border-radius: 100%;
                background: #E97171;
                p{
                    margin-left: 15%;
                    margin-top:30%;
                    color: white;
                }
            }
            .new{
                right:0;
                width: 50px;
                height:50px;
                position: absolute;
                top:0;
                border-radius: 100%;
                background: #2EC1AC;
                p{
                    margin-left: 15%;
                    margin-top:30%;
                    color: white;
                }
            }
            .p1{
                font-size: 25px;
                font-weight: bold;
            }
            .p2{
                font-family: 'Courier New', Courier, monospace;
                color: gray;
                font-size: 15px;
                font-weight: bold;
            }
            .p3{
                font-size: 20px;
                font-weight: bold;
                text-decoration: none;
                color: black;
                span{
                    color: gray;
                    font-size: 15px;
                    text-decoration: line-through;
                    font-weight: 100;
                }
            }
        }
        div:hover{
            filter: opacity(50%);
        }
    }
    button{
        border: 1px solid darkgoldenrod;
        width: 250px;
        height: 50px;
        font-family: sans-serif;
        font-size: 15px;
        background-color: white;
        margin-left: 40%;
        position: relative;
        a{
            color: darkgoldenrod;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
        }
    }
    button:hover{
        background-color: darkgoldenrod;
        a{
            color: white;
        }
    }
}

.page_navigation{
    padding:3% 40%;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        li {
            margin:0px 5px;
            float: left;
            .active{
                background-color: darkgoldenrod;
                color: white;
            }
            a {
                
                display: block;
                color: black;
                text-align: center;
                padding: 12px 15px;
                text-decoration: none;
                background-color: #fff1c4;
                border-radius: 10px;
                font-weight: bold;
            }
        }
        li a:hover {
            background-color: darkgoldenrod;
            color: white;
        }
        
    }
}

.dashboard{
    height: 200px;
    background-color:#fff1c4;
    display: flex;
    padding:0px 10px;
    .block{
        padding:10px;
        height: 100px;
        display: flex;
        position: relative;
        margin-top: 4%;
        img{
            width: 70px;
            height: 70px;
        }
        width: 25%;
        .text{
            padding-left: 5px;
            font-family: 'Courier New', Courier, monospace;
            display: block;
            p{
                font-size: 20px;
                font-weight: bold;
            }
            span{
                top:55px;
                font-size: 15px;
                position: absolute;
            }
        }
    }
}

.footer{
    padding:10px 40px;
    display: flex;
    font-family: sans-serif;
    position: relative;
    height: 250px;
    .left_bar{
        position: absolute;  
        top:0;      
        height:100%;
        p{
            font-size: 25px;
            font-weight: bold;
        }
        span{
            color:gray;
            font-size: 15px;
        }
    }
    .links{
        position: absolute;
        margin-left:25%;
        font-size: 18px;
        top:0;
        height: 100%;
        p{
            padding-left:5px;
            color: gray;
        }
        li{
            padding-left:5px;
            font-weight: bold;
            list-style-type: none;
            line-height: 45px;
            a{
                text-decoration: none;
            }
        }
        li:hover{
            background-color: rgb(209, 205, 205);
            color:white;  
        }
    }
    .help{
        position: absolute;
        margin-left:40%;
        top:0;
        height: 100%;
        font-size: 18px;
        p{
            color: gray;
        }
        li{
            font-weight: bold;
            list-style-type: none;
            line-height: 45px;
            a{
                text-decoration: none;
            }
        }
        li:hover{
            background-color: rgb(209, 205, 205);
            color:white;  
        }
    }
    .right_bar{
        margin-left: 60%;
        top:0;
        position: absolute;
        height: 100%;
        .p1{
            color:gray;
            font-size: 18px;
        }
        div{
            display: flex;
            width: 100%;
            .p2{
                margin-top: 5%;
                color:gray;
                font-size: 18px;
                text-decoration: underline;
            }
            span{
                color: black;
                text-decoration: underline;
                margin-top: 5%;
                margin-left: 10px;
                font-size: 18px;
            }
        }
    }
}
.ending{
    hr{
        position: relative;
        width: 90%;
    }
    p{
        margin-left: 5%;
    }
}