<div class="header">
    <div class="logo">
        <img src="assets/svg/Logo.svg">
        <p>Furniro</p>
    </div>
    <div class="navigation-wrapper">
        <ul>
            <li><a>Home</a></li>
            <li><a>Shop</a></li>
            <li><a>About</a></li>
            <li><a>Contact</a></li>
        </ul>
    </div>
    <div class="help-navigator">
        <ul>
            <li><img src=""></li>
            <li><img></li>
            <li><img></li>
            <li><img></li>
        </ul>
    </div>
</div>
<div class="background_block">
    <img src="https://s3-alpha-sig.figma.com/img/1461/f3d6/ff74c027a1888544144abe4be6e02cbf?Expires=1710720000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=WNGq099X4M0fD2HNjW~qw3Tvdbq7-Evl~W7h-HrkICXNpg2hooi~eztMfrHZqwcXCzVXZKrnwGuu0od6OcD36w~eRgVpJTr4nYIYCyHUXa8s1IBsn2B2-5Ahmz~Cer6-ihsiBeuhVyNHfCkFjSrJp9Fw2lV2Mu5x8muZ6WSO6rwHX0qhf7TRW78tHuZ0xF-CdISPk71vynJehd3-XIdbDcR2ppG6-vdyOprzoCKTQZMBOaiMgQ3ec1HQm7B2QUV3KIPnpvyiuGzMTc9CTwliymgrkt13Q~DsNfEM39U2eJRpcQj5UArdy1tMOEPaSYJ4yAFKy-kpOXKlDKQyiznGcg__">
    <p class="p1">Shop</p>
    <p class="p2"><span>Home > </span>Shop</p>
</div>
<div class="filter_bar">

</div>
<div class="item">
    <div class="line">
        <div>
            <img src="https://s3-alpha-sig.figma.com/img/4491/a0ea/43eebd52ea72d60650f31030ec4bf7e6?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Mw-Dzr9LPTDobg0rUYxqUfWSW0iFJUDGlIOr2j2d2JXW-lPYOkY5~jZOJyE2W~3KGnW8RwX6c2drbuAUyzVnDkRwMHAKvWjagWYRAyB4ro0tqHGsowhILEsAiR919c1YYclWHCu0PKq9AF0UjH9GioQ2tBtAXP3~bopmGCUS72RH60XLl9SqrnppqAqbmaPgDwVSIH8oWjP-dl8xKEwMTJhyjuKCj-KzLipVDc4ZbxcmLXY3gSaqNi9RSiWABW2SmYbq~sfDACGTEQqYYfxEER0dQm5t4K-MVDIlk3zmPClDcYaENXLbFIo1lj0yHy1RR6uPxwEK8iLDPSbFD0n29g__">
            <div class="sale"><p>-30%</p></div>
            <p class="p1">Syltherine</p>
            <p class="p2">Stylish cafe chair</p>
            <p class="p3">Rp 2.500.000 <span>   Rp 3.500.000</span></p>
        </div>
        <div>
            <img src="https://s3-alpha-sig.figma.com/img/3ed3/53ed/bdb0310fb379a6b1828809d2c0652533?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=NG-kSi5lwcCDyHuDArQ0whARoVQ~bMhH5DmMlEKskXMizDkQv~XRTuxyhh~0~21LDmEpQcitC1j053SQ01Lvrjklwleu7LLn~IZevOMu4V1GltSdl527HjaU0YbsYfXz8qSfvwUijdi-urI2ESth7cduztiAHYlFl4O37WqaxnHfT2jAWTzdtVx8q4qVvaAxOvKUZaw0ZJVp95rL4syKByIxZhVJgxw~vmakCH4lH7x2vfj34tsnE1sI7OyZB-ahoRQRhTUiAOF-ekufslEDCtvTTA8LSJhriUGZECBqIIXIKTUKwavSzd~kFnTdEkBFpV1u1N~2I79uq7ul3NUptg__">
            <p class="p1">Leviosa</p>
            <p class="p2">Stylish cafe chair</p>
            <p class="p3">Rp 2.500.000</p>
        </div>
        <div>
            <img src="https://s3-alpha-sig.figma.com/img/2084/99f3/7c62fb49f7d4a1a6a5dc5959b40150ed?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=RXBhK0h4WhFI-hNqdA-NPeHP8HaGCZM5UkJHcN~5p1VKk7RM5H4x-VF-AixnHVcRPI9SM9iaSksHWLiokzmNlH-DGXU8NUtga2ZN7A-FLCgk7OK~lG4zR7a-AF-CfFA7TQfBMLtE00esPCPkO4f5c6K3PlphC3vmUmbUj2nuI2NDXld3ruPAcI13Z7KDWvHTK28TSyvVVumlXcdAXgsLf8VlLgNXlZ6TawTPCvJ~2yanVIM~MN30pqRelutzfsHtOCp3vRHV3UHxMi67PGD5BcSU3LycfCUKu2rZcu-ItF9H0qBbasY2kzOqSI1ojk3T2~Mp~5Wq1l4azSfEsydP5A__">
            <div class="sale"><p>-50%</p></div>
            <p class="p1">Lolito</p>
            <p class="p2">Luxury big sofa</p>
            <p class="p3">Rp 7.000.000 <span>   Rp 14.000.000</span></p>
        </div>
        <div>
            <img src="https://s3-alpha-sig.figma.com/img/1f73/e563/4a5dbc0c29efbae1beca6ab40dd9b598?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Zq~6z3gXqw2Z9RS5nsSR2C9mPB4JU-XoLvgsckuFI0ENYrQ7vQnUKIqvz4jepSDOXH54p9Z6T6pPY28LCnsp9c5dksoz5hQSH3QFAEg1npP8tGBSq9b1dSENAcQij9RWjwPaEaIn86iL6R4umVGt-3BSXJhKvPoc0skyaaJBTUSdLIJVF7d3LdGw8VRfh5s~oVwwYNKMtzfF7loBBKDnRP-Crcy6dzynI4q3qrJ966mbkDkZoO1Lw9cVXaJdddU5L5tDON217PvOgOruK6Ta9JY92vL6GCNH0iArlcXPGzH2gSPFRc3H6afqerU~0142vSbzMzG4I2-vALFv~LLbVQ__">
            <div class="new"><p>New</p></div>
            <p class="p1">Respira</p>
            <p class="p2">Outdoor bar table and stool</p>
            <p class="p3">Rp 500.000</p>
        </div>
    </div>
</div>
<div class="item">
    <div class="line">
        <div>
            <img src="https://s3-alpha-sig.figma.com/img/4491/a0ea/43eebd52ea72d60650f31030ec4bf7e6?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Mw-Dzr9LPTDobg0rUYxqUfWSW0iFJUDGlIOr2j2d2JXW-lPYOkY5~jZOJyE2W~3KGnW8RwX6c2drbuAUyzVnDkRwMHAKvWjagWYRAyB4ro0tqHGsowhILEsAiR919c1YYclWHCu0PKq9AF0UjH9GioQ2tBtAXP3~bopmGCUS72RH60XLl9SqrnppqAqbmaPgDwVSIH8oWjP-dl8xKEwMTJhyjuKCj-KzLipVDc4ZbxcmLXY3gSaqNi9RSiWABW2SmYbq~sfDACGTEQqYYfxEER0dQm5t4K-MVDIlk3zmPClDcYaENXLbFIo1lj0yHy1RR6uPxwEK8iLDPSbFD0n29g__">
            <div class="sale"><p>-30%</p></div>
            <p class="p1">Syltherine</p>
            <p class="p2">Stylish cafe chair</p>
            <p class="p3">Rp 2.500.000 <span>   Rp 3.500.000</span></p>
        </div>
        <div>
            <img src="https://s3-alpha-sig.figma.com/img/3ed3/53ed/bdb0310fb379a6b1828809d2c0652533?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=NG-kSi5lwcCDyHuDArQ0whARoVQ~bMhH5DmMlEKskXMizDkQv~XRTuxyhh~0~21LDmEpQcitC1j053SQ01Lvrjklwleu7LLn~IZevOMu4V1GltSdl527HjaU0YbsYfXz8qSfvwUijdi-urI2ESth7cduztiAHYlFl4O37WqaxnHfT2jAWTzdtVx8q4qVvaAxOvKUZaw0ZJVp95rL4syKByIxZhVJgxw~vmakCH4lH7x2vfj34tsnE1sI7OyZB-ahoRQRhTUiAOF-ekufslEDCtvTTA8LSJhriUGZECBqIIXIKTUKwavSzd~kFnTdEkBFpV1u1N~2I79uq7ul3NUptg__">
            <p class="p1">Leviosa</p>
            <p class="p2">Stylish cafe chair</p>
            <p class="p3">Rp 2.500.000</p>
        </div>
        <div>
            <img src="https://s3-alpha-sig.figma.com/img/2084/99f3/7c62fb49f7d4a1a6a5dc5959b40150ed?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=RXBhK0h4WhFI-hNqdA-NPeHP8HaGCZM5UkJHcN~5p1VKk7RM5H4x-VF-AixnHVcRPI9SM9iaSksHWLiokzmNlH-DGXU8NUtga2ZN7A-FLCgk7OK~lG4zR7a-AF-CfFA7TQfBMLtE00esPCPkO4f5c6K3PlphC3vmUmbUj2nuI2NDXld3ruPAcI13Z7KDWvHTK28TSyvVVumlXcdAXgsLf8VlLgNXlZ6TawTPCvJ~2yanVIM~MN30pqRelutzfsHtOCp3vRHV3UHxMi67PGD5BcSU3LycfCUKu2rZcu-ItF9H0qBbasY2kzOqSI1ojk3T2~Mp~5Wq1l4azSfEsydP5A__">
            <div class="sale"><p>-50%</p></div>
            <p class="p1">Lolito</p>
            <p class="p2">Luxury big sofa</p>
            <p class="p3">Rp 7.000.000 <span>   Rp 14.000.000</span></p>
        </div>
        <div>
            <img src="https://s3-alpha-sig.figma.com/img/1f73/e563/4a5dbc0c29efbae1beca6ab40dd9b598?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Zq~6z3gXqw2Z9RS5nsSR2C9mPB4JU-XoLvgsckuFI0ENYrQ7vQnUKIqvz4jepSDOXH54p9Z6T6pPY28LCnsp9c5dksoz5hQSH3QFAEg1npP8tGBSq9b1dSENAcQij9RWjwPaEaIn86iL6R4umVGt-3BSXJhKvPoc0skyaaJBTUSdLIJVF7d3LdGw8VRfh5s~oVwwYNKMtzfF7loBBKDnRP-Crcy6dzynI4q3qrJ966mbkDkZoO1Lw9cVXaJdddU5L5tDON217PvOgOruK6Ta9JY92vL6GCNH0iArlcXPGzH2gSPFRc3H6afqerU~0142vSbzMzG4I2-vALFv~LLbVQ__">
            <div class="new"><p>New</p></div>
            <p class="p1">Respira</p>
            <p class="p2">Outdoor bar table and stool</p>
            <p class="p3">Rp 500.000</p>
        </div>
    </div>
</div>
<div class="item">
    <div class="line">
        <div>
            <img src="https://s3-alpha-sig.figma.com/img/4491/a0ea/43eebd52ea72d60650f31030ec4bf7e6?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Mw-Dzr9LPTDobg0rUYxqUfWSW0iFJUDGlIOr2j2d2JXW-lPYOkY5~jZOJyE2W~3KGnW8RwX6c2drbuAUyzVnDkRwMHAKvWjagWYRAyB4ro0tqHGsowhILEsAiR919c1YYclWHCu0PKq9AF0UjH9GioQ2tBtAXP3~bopmGCUS72RH60XLl9SqrnppqAqbmaPgDwVSIH8oWjP-dl8xKEwMTJhyjuKCj-KzLipVDc4ZbxcmLXY3gSaqNi9RSiWABW2SmYbq~sfDACGTEQqYYfxEER0dQm5t4K-MVDIlk3zmPClDcYaENXLbFIo1lj0yHy1RR6uPxwEK8iLDPSbFD0n29g__">
            <div class="sale"><p>-30%</p></div>
            <p class="p1">Syltherine</p>
            <p class="p2">Stylish cafe chair</p>
            <p class="p3">Rp 2.500.000 <span>   Rp 3.500.000</span></p>
        </div>
        <div>
            <img src="https://s3-alpha-sig.figma.com/img/3ed3/53ed/bdb0310fb379a6b1828809d2c0652533?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=NG-kSi5lwcCDyHuDArQ0whARoVQ~bMhH5DmMlEKskXMizDkQv~XRTuxyhh~0~21LDmEpQcitC1j053SQ01Lvrjklwleu7LLn~IZevOMu4V1GltSdl527HjaU0YbsYfXz8qSfvwUijdi-urI2ESth7cduztiAHYlFl4O37WqaxnHfT2jAWTzdtVx8q4qVvaAxOvKUZaw0ZJVp95rL4syKByIxZhVJgxw~vmakCH4lH7x2vfj34tsnE1sI7OyZB-ahoRQRhTUiAOF-ekufslEDCtvTTA8LSJhriUGZECBqIIXIKTUKwavSzd~kFnTdEkBFpV1u1N~2I79uq7ul3NUptg__">
            <p class="p1">Leviosa</p>
            <p class="p2">Stylish cafe chair</p>
            <p class="p3">Rp 2.500.000</p>
        </div>
        <div>
            <img src="https://s3-alpha-sig.figma.com/img/2084/99f3/7c62fb49f7d4a1a6a5dc5959b40150ed?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=RXBhK0h4WhFI-hNqdA-NPeHP8HaGCZM5UkJHcN~5p1VKk7RM5H4x-VF-AixnHVcRPI9SM9iaSksHWLiokzmNlH-DGXU8NUtga2ZN7A-FLCgk7OK~lG4zR7a-AF-CfFA7TQfBMLtE00esPCPkO4f5c6K3PlphC3vmUmbUj2nuI2NDXld3ruPAcI13Z7KDWvHTK28TSyvVVumlXcdAXgsLf8VlLgNXlZ6TawTPCvJ~2yanVIM~MN30pqRelutzfsHtOCp3vRHV3UHxMi67PGD5BcSU3LycfCUKu2rZcu-ItF9H0qBbasY2kzOqSI1ojk3T2~Mp~5Wq1l4azSfEsydP5A__">
            <div class="sale"><p>-50%</p></div>
            <p class="p1">Lolito</p>
            <p class="p2">Luxury big sofa</p>
            <p class="p3">Rp 7.000.000 <span>   Rp 14.000.000</span></p>
        </div>
        <div>
            <img src="https://s3-alpha-sig.figma.com/img/1f73/e563/4a5dbc0c29efbae1beca6ab40dd9b598?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Zq~6z3gXqw2Z9RS5nsSR2C9mPB4JU-XoLvgsckuFI0ENYrQ7vQnUKIqvz4jepSDOXH54p9Z6T6pPY28LCnsp9c5dksoz5hQSH3QFAEg1npP8tGBSq9b1dSENAcQij9RWjwPaEaIn86iL6R4umVGt-3BSXJhKvPoc0skyaaJBTUSdLIJVF7d3LdGw8VRfh5s~oVwwYNKMtzfF7loBBKDnRP-Crcy6dzynI4q3qrJ966mbkDkZoO1Lw9cVXaJdddU5L5tDON217PvOgOruK6Ta9JY92vL6GCNH0iArlcXPGzH2gSPFRc3H6afqerU~0142vSbzMzG4I2-vALFv~LLbVQ__">
            <div class="new"><p>New</p></div>
            <p class="p1">Respira</p>
            <p class="p2">Outdoor bar table and stool</p>
            <p class="p3">Rp 500.000</p>
        </div>
    </div>
</div>
<div class="item">
    <div class="line">
        <div>
            <img src="https://s3-alpha-sig.figma.com/img/4491/a0ea/43eebd52ea72d60650f31030ec4bf7e6?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Mw-Dzr9LPTDobg0rUYxqUfWSW0iFJUDGlIOr2j2d2JXW-lPYOkY5~jZOJyE2W~3KGnW8RwX6c2drbuAUyzVnDkRwMHAKvWjagWYRAyB4ro0tqHGsowhILEsAiR919c1YYclWHCu0PKq9AF0UjH9GioQ2tBtAXP3~bopmGCUS72RH60XLl9SqrnppqAqbmaPgDwVSIH8oWjP-dl8xKEwMTJhyjuKCj-KzLipVDc4ZbxcmLXY3gSaqNi9RSiWABW2SmYbq~sfDACGTEQqYYfxEER0dQm5t4K-MVDIlk3zmPClDcYaENXLbFIo1lj0yHy1RR6uPxwEK8iLDPSbFD0n29g__">
            <div class="sale"><p>-30%</p></div>
            <p class="p1">Syltherine</p>
            <p class="p2">Stylish cafe chair</p>
            <p class="p3">Rp 2.500.000 <span>   Rp 3.500.000</span></p>
        </div>
        <div>
            <img src="https://s3-alpha-sig.figma.com/img/3ed3/53ed/bdb0310fb379a6b1828809d2c0652533?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=NG-kSi5lwcCDyHuDArQ0whARoVQ~bMhH5DmMlEKskXMizDkQv~XRTuxyhh~0~21LDmEpQcitC1j053SQ01Lvrjklwleu7LLn~IZevOMu4V1GltSdl527HjaU0YbsYfXz8qSfvwUijdi-urI2ESth7cduztiAHYlFl4O37WqaxnHfT2jAWTzdtVx8q4qVvaAxOvKUZaw0ZJVp95rL4syKByIxZhVJgxw~vmakCH4lH7x2vfj34tsnE1sI7OyZB-ahoRQRhTUiAOF-ekufslEDCtvTTA8LSJhriUGZECBqIIXIKTUKwavSzd~kFnTdEkBFpV1u1N~2I79uq7ul3NUptg__">
            <p class="p1">Leviosa</p>
            <p class="p2">Stylish cafe chair</p>
            <p class="p3">Rp 2.500.000</p>
        </div>
        <div>
            <img src="https://s3-alpha-sig.figma.com/img/2084/99f3/7c62fb49f7d4a1a6a5dc5959b40150ed?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=RXBhK0h4WhFI-hNqdA-NPeHP8HaGCZM5UkJHcN~5p1VKk7RM5H4x-VF-AixnHVcRPI9SM9iaSksHWLiokzmNlH-DGXU8NUtga2ZN7A-FLCgk7OK~lG4zR7a-AF-CfFA7TQfBMLtE00esPCPkO4f5c6K3PlphC3vmUmbUj2nuI2NDXld3ruPAcI13Z7KDWvHTK28TSyvVVumlXcdAXgsLf8VlLgNXlZ6TawTPCvJ~2yanVIM~MN30pqRelutzfsHtOCp3vRHV3UHxMi67PGD5BcSU3LycfCUKu2rZcu-ItF9H0qBbasY2kzOqSI1ojk3T2~Mp~5Wq1l4azSfEsydP5A__">
            <div class="sale"><p>-50%</p></div>
            <p class="p1">Lolito</p>
            <p class="p2">Luxury big sofa</p>
            <p class="p3">Rp 7.000.000 <span>   Rp 14.000.000</span></p>
        </div>
        <div>
            <img src="https://s3-alpha-sig.figma.com/img/1f73/e563/4a5dbc0c29efbae1beca6ab40dd9b598?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Zq~6z3gXqw2Z9RS5nsSR2C9mPB4JU-XoLvgsckuFI0ENYrQ7vQnUKIqvz4jepSDOXH54p9Z6T6pPY28LCnsp9c5dksoz5hQSH3QFAEg1npP8tGBSq9b1dSENAcQij9RWjwPaEaIn86iL6R4umVGt-3BSXJhKvPoc0skyaaJBTUSdLIJVF7d3LdGw8VRfh5s~oVwwYNKMtzfF7loBBKDnRP-Crcy6dzynI4q3qrJ966mbkDkZoO1Lw9cVXaJdddU5L5tDON217PvOgOruK6Ta9JY92vL6GCNH0iArlcXPGzH2gSPFRc3H6afqerU~0142vSbzMzG4I2-vALFv~LLbVQ__">
            <div class="new"><p>New</p></div>
            <p class="p1">Respira</p>
            <p class="p2">Outdoor bar table and stool</p>
            <p class="p3">Rp 500.000</p>
        </div>
    </div>
</div>
<div class="page_navigation">
    <ul>
        <li><a class="active" href="">1</a></li>
        <li><a href="">2</a></li>
        <li><a href="">3</a></li>
        <li><a href="">Next</a></li>
    </ul>
</div>
<div class="dashboard">
    <div class="block">
        <img src="assets\svg\Trophy.svg">
        <div class="text">
            <p>High Quality</p>
            <span>crafted from top materials</span>
        </div>
    </div>
    <div class="block">
        <img src="assets\svg\Checked.svg">
        <div class="text">
            <p>Warranty Protection</p>
            <span>Over 2 years</span>
        </div>
    </div>
    <div class="block">
        <img src="assets\svg\Gift.svg">
        <div class="text">
            <p>Free shipping</p>
            <span>Order over 150 $</span>
        </div>
    </div>
    <div class="block">
        <img src="assets\svg\Support.svg">
        <div class="text">
            <p>24 / 7 Support</p>
            <span>Dedicated support</span>
        </div>
    </div>
</div>
<div class="footer">
    <div class="left_bar">
        <p>Funiro.</p>
        <span>400 University Drive Suite 200 Caral <br> Gables,<br>FL 33134 USA</span>
    </div>
    <div class="links">
        <ul>
            <p>Links</p>
            <li><a>Home</a></li>
            <li><a>Shop</a></li>
            <li><a>About</a></li>
            <li><a>Contact</a></li>
        </ul>
    </div>
    <div class="help">
        <ul>
            <p>Help</p>
            <li>Payment Options</li>
            <li>Returns</li>
            <li><a>Privacy Policies</a></li>
        </ul>
    </div>
    <div class="right_bar">
        <p class="p1">Newsletter</p>
        <div>
            <p class="p2">Enter Your Email Adress</p>
            <span> SUBSCRIBE</span>
        </div>
    </div>
</div>
<div class="ending">
    <hr>
    <p>2023 furino. All rights reverved</p>
</div>
