<div class="header">
    <div class="logo">
        <img src="assets/svg/Logo.svg">
        <p>Furniro</p>
    </div>
    <div class="navigation-wrapper">
        <ul>
            <li><a>Home</a></li>
            <li><a>Shop</a></li>
            <li><a>About</a></li>
            <li><a>Contact</a></li>
        </ul>
    </div>
    <div class="help-navigator">
        <ul>
            <li><img src="assets\Vector (1).svg"></li>
            <li><img src="assets\Vector (2).svg"></li>
            <li><img src="assets\Vector (3).svg"></li>
            <li><img src="assets\Vector (4).svg"></li>
        </ul>
    </div>
</div>
<div class="background_block">
    <img src="assets\svg\Background-interior.svg">
    <p class="p1">Shop</p>
    <p class="p2"><span>Home > </span>Shop</p>
</div>
<div class="filter_bar">
    <img src="assets\Vector (5).svg">
    <span>Filter</span>
    <img src="assets\Vector (6).svg">
    <img src="assets\Vector (7).svg">
    <hr>
    <p>Showing 1-16 of 32 results</p>
    <div>
        <span>Show</span>
        <input type="text" class="input1" placeholder="16">
        <span>Short by</span>
        <input type="text" class="input2" placeholder="Default">
    </div>

</div>
<div class="item">
    <div class="line">
        <div>
            <img src="assets\image 1.svg">
            <div class="sale"><p>-30%</p></div>
            <p class="p1">Syltherine</p>
            <p class="p2">Stylish cafe chair</p>
            <p class="p3">Rp 2.500.000 <span>   Rp 3.500.000</span></p>
        </div>
        <div>
            <img src="assets\image 2.svg">
            <p class="p1">Leviosa</p>
            <p class="p2">Stylish cafe chair</p>
            <p class="p3">Rp 2.500.000</p>
        </div>
        <div>
            <img src="assets\image 3.svg">
            <div class="sale"><p>-50%</p></div>
            <p class="p1">Lolito</p>
            <p class="p2">Luxury big sofa</p>
            <p class="p3">Rp 7.000.000 <span>   Rp 14.000.000</span></p>
        </div>
        <div>
            <img src="assets\image 4.svg">
            <div class="new"><p>New</p></div>
            <p class="p1">Respira</p>
            <p class="p2">Outdoor bar table and stool</p>
            <p class="p3">Rp 500.000</p>
        </div>
    </div>
</div>
<div class="item">
    <div class="line">
        <div>
            <img src="assets\image 1.svg">
            <div class="sale"><p>-30%</p></div>
            <p class="p1">Syltherine</p>
            <p class="p2">Stylish cafe chair</p>
            <p class="p3">Rp 2.500.000 <span>   Rp 3.500.000</span></p>
        </div>
        <div>
            <img src="assets\image 2.svg">
            <p class="p1">Leviosa</p>
            <p class="p2">Stylish cafe chair</p>
            <p class="p3">Rp 2.500.000</p>
        </div>
        <div>
            <img src="assets\image 3.svg">
            <div class="sale"><p>-50%</p></div>
            <p class="p1">Lolito</p>
            <p class="p2">Luxury big sofa</p>
            <p class="p3">Rp 7.000.000 <span>   Rp 14.000.000</span></p>
        </div>
        <div>
            <img src="assets\image 4.svg">
            <div class="new"><p>New</p></div>
            <p class="p1">Respira</p>
            <p class="p2">Outdoor bar table and stool</p>
            <p class="p3">Rp 500.000</p>
        </div>
    </div>
</div>
<div class="item">
    <div class="line">
        <div>
            <img src="assets\image 1.svg">
            <div class="sale"><p>-30%</p></div>
            <p class="p1">Syltherine</p>
            <p class="p2">Stylish cafe chair</p>
            <p class="p3">Rp 2.500.000 <span>   Rp 3.500.000</span></p>
        </div>
        <div>
            <img src="assets\image 2.svg">
            <p class="p1">Leviosa</p>
            <p class="p2">Stylish cafe chair</p>
            <p class="p3">Rp 2.500.000</p>
        </div>
        <div>
            <img src="assets\image 3.svg">
            <div class="sale"><p>-50%</p></div>
            <p class="p1">Lolito</p>
            <p class="p2">Luxury big sofa</p>
            <p class="p3">Rp 7.000.000 <span>   Rp 14.000.000</span></p>
        </div>
        <div>
            <img src="assets\image 4.svg">
            <div class="new"><p>New</p></div>
            <p class="p1">Respira</p>
            <p class="p2">Outdoor bar table and stool</p>
            <p class="p3">Rp 500.000</p>
        </div>
    </div>
</div>
<div class="item">
    <div class="line">
        <div>
            <img src="assets\image 1.svg">
            <div class="sale"><p>-30%</p></div>
            <p class="p1">Syltherine</p>
            <p class="p2">Stylish cafe chair</p>
            <p class="p3">Rp 2.500.000 <span>   Rp 3.500.000</span></p>
        </div>
        <div>
            <img src="assets\image 2.svg">
            <p class="p1">Leviosa</p>
            <p class="p2">Stylish cafe chair</p>
            <p class="p3">Rp 2.500.000</p>
        </div>
        <div>
            <img src="assets\image 3.svg">
            <div class="sale"><p>-50%</p></div>
            <p class="p1">Lolito</p>
            <p class="p2">Luxury big sofa</p>
            <p class="p3">Rp 7.000.000 <span>   Rp 14.000.000</span></p>
        </div>
        <div>
            <img src="assets\image 4.svg">
            <div class="new"><p>New</p></div>
            <p class="p1">Respira</p>
            <p class="p2">Outdoor bar table and stool</p>
            <p class="p3">Rp 500.000</p>
        </div>
    </div>
</div>
<div class="page_navigation">
    <ul>
        <li><a class="active" href="">1</a></li>
        <li><a href="">2</a></li>
        <li><a href="">3</a></li>
        <li><a href="">Next</a></li>
    </ul>
</div>
<div class="dashboard">
    <div class="block">
        <img src="assets\svg\Trophy.svg">
        <div class="text">
            <p>High Quality</p>
            <span>crafted from top materials</span>
        </div>
    </div>
    <div class="block">
        <img src="assets\svg\Checked.svg">
        <div class="text">
            <p>Warranty Protection</p>
            <span>Over 2 years</span>
        </div>
    </div>
    <div class="block">
        <img src="assets\svg\Gift.svg">
        <div class="text">
            <p>Free shipping</p>
            <span>Order over 150 $</span>
        </div>
    </div>
    <div class="block">
        <img src="assets\svg\Support.svg">
        <div class="text">
            <p>24 / 7 Support</p>
            <span>Dedicated support</span>
        </div>
    </div>
</div>
<div class="footer">
    <div class="left_bar">
        <p>Funiro.</p>
        <span>400 University Drive Suite 200 Caral <br> Gables,<br>FL 33134 USA</span>
    </div>
    <div class="links">
        <ul>
            <p>Links</p>
            <li><a>Home</a></li>
            <li><a>Shop</a></li>
            <li><a>About</a></li>
            <li><a>Contact</a></li>
        </ul>
    </div>
    <div class="help">
        <ul>
            <p>Help</p>
            <li>Payment Options</li>
            <li>Returns</li>
            <li><a>Privacy Policies</a></li>
        </ul>
    </div>
    <div class="right_bar">
        <p class="p1">Newsletter</p>
        <div>
            <p class="p2">Enter Your Email Adress</p>
            <span> SUBSCRIBE</span>
        </div>
    </div>
</div>
<div class="ending">
    <hr>
    <p>2023 furino. All rights reverved</p>
</div>
