.item{
    padding:10px;
    position: relative;
    h2{
        text-align: center;
    font-family: sans-serif;
    }
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    .line{
        align-items: center;
        display: flex;
        height:450px;
        padding-left: 80px;
        position: relative;
        padding-right: 80px;
        div{
            background-color: rgba(234, 232, 232, 0.731);
            margin:10px;
            display: block;
            height: 400px;
            position: relative;
            p{
                margin: 10px;
            }
            img{
                object-fit: cover;
                height: 65%;
                width:280px;
                position: relative;
            }
            .sale{
                right:0;
                width: 50px;
                height:50px;
                position: absolute;
                top:0;
                border-radius: 100%;
                background: #E97171;
                p{
                    margin-left: 15%;
                    margin-top:30%;
                    color: white;
                }
            }
            .new{
                right:0;
                width: 50px;
                height:50px;
                position: absolute;
                top:0;
                border-radius: 100%;
                background: #2EC1AC;
                p{
                    margin-left: 15%;
                    margin-top:30%;
                    color: white;
                }
            }
            .p1{
                font-size: 25px;
                font-weight: bold;
            }
            .p2{
                font-family: 'Courier New', Courier, monospace;
                color: gray;
                font-size: 15px;
                font-weight: bold;
            }
            .p3{
                font-size: 20px;
                font-weight: bold;
                text-decoration: none;
                color: black;
                span{
                    color: gray;
                    font-size: 15px;
                    text-decoration: line-through;
                    font-weight: 100;
                }
            }
        }
        div:hover{
            filter: opacity(50%);
            
        }
    }
    button{
        border: 1px solid darkgoldenrod;
        width: 250px;
        height: 50px;
        font-family: sans-serif;
        font-size: 15px;
        background-color: white;
        margin-left: 40%;
        position: relative;
        a{
            color: darkgoldenrod;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
        }
    }
    button:hover{
        background-color: darkgoldenrod;
        a{
            color: white;
        }
    }
}