<!-- <app-item></app-item> -->
<div class="div_1">
    <div class="div1">
        <img src="https://s3-alpha-sig.figma.com/img/2727/769b/a74736d502746301ed573ed8940fc322?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=WbUbEQBMZLXb11Wzx3KKXmkyIl8MlnnFhJTkXAXaLHmLtyDQbeqL466qOuhcZLJLKqyx6s8bKhDdHJxt9EfTXttdUDIKaIb~3d1jsY1UKgT~sKitvoViantfH9nuYwe5ktyaKRrFhZbWMw1lFI66byq2u43jN-x3uVTDzFPUsBEkAfpFlj1tUOdiEjOOPG1bUT0haO~9hbKsiisVtO4jJzHxo0FRufulaHCWdUXCNx1HeFi9Ja7u6yDwCusYSDS06RoqE437Zw3yCFHL-uouPFjstV1iAXpGF1sz3juP~qxfeAbPOTAW8ujL8bD3NikiqKlTmh5qgAbtCujMV0TPuw__">
        <p>Furniro</p>
    </div>
    <div class="div2">
        <ul>
            <li><a>Home</a></li>
            <li><a>Shop</a></li>
            <li><a>About</a></li>
            <li><a>Contact</a></li>
        </ul>
    </div>
    <div class="div3">
        <ul>
            <li><img></li>
            <li><img></li>
            <li><img></li>
            <li><img></li>
        </ul>
    </div>
</div>
<div class="div_2">
    <img src = "https://s3-alpha-sig.figma.com/img/98fb/219f/a11f805aade2224f1d6658764a2395df?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=JSMB-v8fqNy4UmDb4iAlCoohjXy6AzTOSyjESJw3kbf1lwaE3hqM6~ScRb~nkke2kU613cwUXIah2hzL13Zm~MjLuz-5c3tAZGbYOFB0O-WzbeF2ZqFa3mNagsREiV01x9XMiEA9JSbqCXACBu4ebVpG-2MGwQ~Z7p4asECsyHpxKp69jgTUDDv5kJDzheNJqwQ1Pt7nr1jr2kxC3XdtqHjz3XSsJPpncrxSG2cRxdBcjrlF8ENy0L06O70UcQ2T3qEVia8aqT9fgOrrgWZzlGcDEDxQi5eZRmGMlNzYXvkDfVseLVLkhvJVONiCVCzflVq74iPa~BHgd7DHfZ9Q7g__">
    <div class = "div1">
        <div>
            <p class="p1">New Arrival</p>
            <p class="p2">Discover Our <br> New Collection</p>
            <p class="p3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Ut elit tellus, luctus nec ullamcorper mattis.</p>
            <button><a href = "">BUY NOW</a></button>
        </div>
    </div>
</div>
<div class = "div_3">
    <p class = "p1">Browse The Range</p>
    <p class="p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
<div class="div_4">
    <div class="block">
        <div>
            <img class = "img" src = "https://s3-alpha-sig.figma.com/img/3740/8e44/4bdba3a6bef9d68df2d9a06e32e96c61?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=A5bZO8J5gW4RYdRT~rDh~7oV5HJMfTyWlYUi3Qd24EqRk686mSPUK9zhxYKYTpCx8dOK21kZgN4HcVEN7Up2mqR3PQfCqUujumqD3XWRLNW9Q8PVzfxbGoLmbyAxa8KaVV76OqiR8nzhdSX09ZWMTMRpLsDxAMPjvvHuvB8SQb4c~98SZDibxlmmm3X~OZHjPK0YPvfKeOjwWYErZJmGHteIidlkwvrxB-sVH8V4F38RDhSDdP3gEp7JInSxe8nICJ2pm8MrlUGWCxq2QpLtu0Pw8YyKUaXvVoX32R1yTxCsrAuICfJZMpSo0V9o98~FsYUvwUJOgQZ4mHpjgJC1xw__">
            <p class = "pg">Dining</p>
        </div>
    </div>
    <div class="block">
        <div>
            <img class = "img" src = "https://s3-alpha-sig.figma.com/img/b7e3/92a7/f3961ca2b1edab00f7a7640b3c2ed666?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ku-cns4Z6UL5l9dpUzQC1hOzMFbxOji~nfKDzgIgUxX9Kkj3E2F2CIwGhh8Ro2OY8CKt0kqhgWA3M2qHbaVIRVU-Qefy2Id3peEG-JSZNPYAiz1jycnkSOUaMu7usn8eGlvMuAUxQdUfdPEFo47UQCbRsaoEJNFhPo-8djLtTGi2qMbhGrgEyB0PrT4O~Fj8vLz74Y8GwVYtdV69XuTtfdIsUmhWlIM-jezgISuKqKJ7m3hITazXqsoZLB5TEwnDStoXYcX~Qg7TYltlSiljm1YhDGBGR2unFjMBO~Bv1fNv3QOGGw7RDXCjDvZevaMl7s1bioWnapcsKtdReQazVg__">
            <p class = "pg">Living</p>
        </div>
    </div>
    <div class="block">
        <div>
            <img class = "img" src = "https://s3-alpha-sig.figma.com/img/77e4/946e/ec6e291e21c9694ce22e6c5b50d777fe?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=MZykEQ4YKWvDKSAs3r~Vl9z4sM257Nf6P2ryms5IqQijd8nsFawbfkPrfHUFkTPI5fdfuoCCce4Bvv~tWlbSFMontN2gBxVAhzVktRWeOQaPM3Qp3fpFqQ9ZQj-V2ex7OFfWQ2d7zmmXNUgtNVDVAbFcvDNlkh7v59qC~cA0by7M8QyDZCwGXKi4bfDggj5DCOTOoB~ZzVspA5o9KSq3vSl06Se-gaMIwTYAdQlY4VPPa8Zb5U~iNPbHocUZ3pkQ8~aGc~nl0egDN-QcJpCrcdlKhHHRrQcUMFbhGO~pQj9xaPYNvkgcuD~NYX~ehWqFG0IcK0OFFJPtpy5leP0HKQ__">
            <p class = "pg">Bedroom</p>
        </div>
    </div>
</div> 
<div class="div_5">
    <h2>Our Products</h2>
    <div class="line">
        <div>
            <img src="https://s3-alpha-sig.figma.com/img/4491/a0ea/43eebd52ea72d60650f31030ec4bf7e6?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Mw-Dzr9LPTDobg0rUYxqUfWSW0iFJUDGlIOr2j2d2JXW-lPYOkY5~jZOJyE2W~3KGnW8RwX6c2drbuAUyzVnDkRwMHAKvWjagWYRAyB4ro0tqHGsowhILEsAiR919c1YYclWHCu0PKq9AF0UjH9GioQ2tBtAXP3~bopmGCUS72RH60XLl9SqrnppqAqbmaPgDwVSIH8oWjP-dl8xKEwMTJhyjuKCj-KzLipVDc4ZbxcmLXY3gSaqNi9RSiWABW2SmYbq~sfDACGTEQqYYfxEER0dQm5t4K-MVDIlk3zmPClDcYaENXLbFIo1lj0yHy1RR6uPxwEK8iLDPSbFD0n29g__">
            <div class="sale"><p>-30%</p></div>
            <p class="p1">Syltherine</p>
            <p class="p2">Stylish cafe chair</p>
            <p class="p3">Rp 2.500.000 <span>   Rp 3.500.000</span></p>
        </div>
        <div>
            <img src="https://s3-alpha-sig.figma.com/img/3ed3/53ed/bdb0310fb379a6b1828809d2c0652533?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=NG-kSi5lwcCDyHuDArQ0whARoVQ~bMhH5DmMlEKskXMizDkQv~XRTuxyhh~0~21LDmEpQcitC1j053SQ01Lvrjklwleu7LLn~IZevOMu4V1GltSdl527HjaU0YbsYfXz8qSfvwUijdi-urI2ESth7cduztiAHYlFl4O37WqaxnHfT2jAWTzdtVx8q4qVvaAxOvKUZaw0ZJVp95rL4syKByIxZhVJgxw~vmakCH4lH7x2vfj34tsnE1sI7OyZB-ahoRQRhTUiAOF-ekufslEDCtvTTA8LSJhriUGZECBqIIXIKTUKwavSzd~kFnTdEkBFpV1u1N~2I79uq7ul3NUptg__">
            <p class="p1">Leviosa</p>
            <p class="p2">Stylish cafe chair</p>
            <p class="p3">Rp 2.500.000</p>
        </div>
        <div>
            <img src="https://s3-alpha-sig.figma.com/img/2084/99f3/7c62fb49f7d4a1a6a5dc5959b40150ed?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=RXBhK0h4WhFI-hNqdA-NPeHP8HaGCZM5UkJHcN~5p1VKk7RM5H4x-VF-AixnHVcRPI9SM9iaSksHWLiokzmNlH-DGXU8NUtga2ZN7A-FLCgk7OK~lG4zR7a-AF-CfFA7TQfBMLtE00esPCPkO4f5c6K3PlphC3vmUmbUj2nuI2NDXld3ruPAcI13Z7KDWvHTK28TSyvVVumlXcdAXgsLf8VlLgNXlZ6TawTPCvJ~2yanVIM~MN30pqRelutzfsHtOCp3vRHV3UHxMi67PGD5BcSU3LycfCUKu2rZcu-ItF9H0qBbasY2kzOqSI1ojk3T2~Mp~5Wq1l4azSfEsydP5A__">
            <div class="sale"><p>-50%</p></div>
            <p class="p1">Lolito</p>
            <p class="p2">Luxury big sofa</p>
            <p class="p3">Rp 7.000.000 <span>   Rp 14.000.000</span></p>
        </div>
        <div>
            <img src="https://s3-alpha-sig.figma.com/img/1f73/e563/4a5dbc0c29efbae1beca6ab40dd9b598?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Zq~6z3gXqw2Z9RS5nsSR2C9mPB4JU-XoLvgsckuFI0ENYrQ7vQnUKIqvz4jepSDOXH54p9Z6T6pPY28LCnsp9c5dksoz5hQSH3QFAEg1npP8tGBSq9b1dSENAcQij9RWjwPaEaIn86iL6R4umVGt-3BSXJhKvPoc0skyaaJBTUSdLIJVF7d3LdGw8VRfh5s~oVwwYNKMtzfF7loBBKDnRP-Crcy6dzynI4q3qrJ966mbkDkZoO1Lw9cVXaJdddU5L5tDON217PvOgOruK6Ta9JY92vL6GCNH0iArlcXPGzH2gSPFRc3H6afqerU~0142vSbzMzG4I2-vALFv~LLbVQ__">
            <div class="new"><p>New</p></div>
            <p class="p1">Respira</p>
            <p class="p2">Outdoor bar table and stool</p>
            <p class="p3">Rp 500.000</p>
        </div>
    </div>
    <div class="line" style="top:0%">
        <div>
            <img src="https://s3-alpha-sig.figma.com/img/50f3/12dc/a7c05024ab4e27374edb12195b6559e2?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=QN0r4k6T2MiWZuBMHpiyzdWp8CF7bT23ft~gsWwYCj2eK8OqoXFIODoOwUoa0QldDB2zKvLRHpLXBsNcktupg0ef428f0wLoPHYourETKxn-1C~9LlZo7-Q1lMO4esmTb~72r7ZohncL9S9r~QnpTijRGhPXpIAfqBt-Xk272A5~dx-280WEtKCpWUulHmQjjJyldq8t2mw3UngCw-KwFIXuX6GMMWOUM5h4eypTIT~4DNb750kZaSFgKEZ~cC0v7eQ8gvhboihVFIjOKRQl2GtMgV8SF9e88L1hkYWyPaA-r4pJhpbEauj1IxKlJHySS712ZlE2hLtmn6TyWQzHZQ__">
            <p class="p1">Grifo</p>
            <p class="p2">Night lamp</p>
            <p class="p3">Rp 1.500.000</p>
        </div>
        <div>
            <img src="https://s3-alpha-sig.figma.com/img/b609/6926/ea43a4c55f9e28aa3592f17ff47a4303?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=mBkS-WGgHHQb5ll5E31m83b~RmTQI6pGB6fC1x~SjiE5ED81HggnEyNMuBawgOVXuN4YRjSjndgWWuhq~3fsNaMp2d~rd3r4BeemxQEgQagRQHiGg9MnXXTycbCrzRuZ9QPGKeFrO~jRLBJ0JUQHPcKFFVsnyAY77bfbH9wQDeOqJ0hkncEwHZFuqIP4AcG36SX2FbwvAC1YJZHDDD9RwrK3MikZ3W3UBLtdHHGCV5HDyMvjPkWoP6VbEDCw0HJ~od5Ul8uh8i56WOFIBjdf2Ahtggrv8itBiLFkZd1v~fi4kq93TLYrAYpa6OobbFKO6a6emOr5kDqlWKIcPAHWMg__">
            <div class="new"><p>New</p></div>
            <p class="p1">Muggo</p>
            <p class="p2">Small mug</p>
            <p class="p3">Rp 150.000</p>
        </div>
        <div>
            <img src="https://s3-alpha-sig.figma.com/img/8d34/199d/e77ede2f478b2f26210bd264978981f6?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=XDCvt9RPK640afHpxEVopmAQyeQVqvIcAASepcvJUuZxeCCPPpZbtRyOuuKubloCzZk7K~FqSWALN3FFXd3~sjvRFxUt-3EvaA10rPfwW3HX5bcIkfgeREbvbYH~dQLnTA8U3MsgtJihGkkVFsobdtixX7K-wzhVwG8U9~r0xyhtw1pL7v8Fkq0VCEka7Ot71BuFTjiygqKa3ZZdlwxHAytnme50KHo7L-j7tVMxa1mS7WaIjelH0muMYmUL8hjTOJ0PaN-TCuE8Sdam1W~GFrVN6rrfl0akvbIK-raSpyzN3tChJyu8dv00gvyz1xUDN~qYjDCEEtQaNg73iFED2g__">
            <div class="sale"><p>-50%</p></div>
            <p class="p1">Pingky</p>
            <p class="p2">Cute bed set</p>
            <p class="p3">Rp 7.000.000 <span>   Rp 14.000.000</span></p>
        </div>
        <div>
            <img src="https://s3-alpha-sig.figma.com/img/6028/dfe0/3d98b27fb98ee49958d7089f10d39dfe?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Xj~GUNjytc~XEzDUZMof-TMw-mIMRZhJVrageuxxWc7sUuxjNzi27ad~M7PMaECljm02NFIL-sroYctvCCaHeDP5WxHZdJsYyvk67JIAUm8JlMR1F5dYuW9SpUZzQre0alhQE4hrPm~anjUbk8nqCkLrq9Ah8ZYtIT2C~qXiJnO5gRU33QsekuUPyQ3sVH-JZEt-oT1e-F01OYfjXyHyUqr-g5DlGwwT6yOFUTO6t-u8V9PfEfTgPXu-agcrSyGWUbnhqGlGBx-PovLSfVqOd~bG3p4PjqLkPSE7RYVy0uMj6~rB4eCwnZG3ZNaLEC3QSkhByoXEmxDumGOjt9i85g__">
            <div class="new"><p>New</p></div>
            <p class="p1">Potty</p>
            <p class="p2">Minimalist flower pot</p>
            <p class="p3">Rp 500.000</p>
        </div>
    </div>
    <button><a href="">Show More</a></button>
</div>


