<div class="header">
    <div class="logo">
        <img src="assets/svg/Logo.svg">
        <p>Furniro</p>
    </div>
    <div class="navigation-wrapper">
        <ul>
            <li><a>Home</a></li>
            <li><a>Shop</a></li>
            <li><a>About</a></li>
            <li><a>Contact</a></li>
        </ul>
    </div>
    <div class="help-navigator">
        <ul>
            <li><img src="assets\Vector (1).svg"></li>
            <li><img src="assets\Vector (2).svg"></li>
            <li><img src="assets\Vector (3).svg"></li>
            <li><img src="assets\Vector (4).svg"></li>
        </ul>
    </div>
</div>
<div class="background_block">
    <img class="background" src="assets\svg\Background-interior.svg">
    <img class="logo" src="assets\svg\Logo.svg">
    <p class="p1">Checkout</p>
    <p class="p2"><span>Home > </span>Checkout</p>
</div>

<div class="billing_details">
    <div class="left_side">
        <h1>Billing details</h1>
        <div class="input_1">
            <div class="first_name">
                <p>First Name</p>
                <input stype="text">
            </div>
            <div class="last_name">
                <p>Last Name</p>
                <input type="text">
            </div>
        </div>
        <div class="input_2">
            <div>
                <p>Company Name(Optional)</p>
                <input type="text">
            </div>
            <div>
                <p>Country / Region</p>
                <select type="text">
                    <option>Sri Lanka</option>
                    <option></option>
                    <option></option>
                </select>
            </div>
            <div>
                <p>Street address</p>
                <input type="text">
            </div>
            <div>
                <p>Town / City</p>
                <input type="text">
            </div>
            <div>
                <p>Proince</p>
                <select type="text">
                    <option>Western Province</option>
                    <option></option>
                    <option></option>
                </select>
            </div>
            <div>
                <p>ZIP Code</p>
                <input type="text">
            </div>
            <div>
                <p>Phone</p>
                <input type="text">
            </div>
            <div>
                <p>Email</p>
                <input type="email">
            </div>
            <br>
            <div>
                <input type="text" placeholder="Additional information">
            </div>
        </div>
    </div>
    <div class="right_side">
        <div class="product_details">
            <div class="product_info">
                <h2>Product</h2>
                <p><span>Asgaard sofa</span> X 1</p>
                <p>Subtotal</p>
                <p>Total</p>
            </div>
            <div class="subtotal_info">
                <h2>Subtotal</h2>
                <p>Rs.250,000.00</p>
                <p>Rs.250,000.00</p>
                <p><span>Rs. 250,000.00</span></p>
            </div>
        </div>
        <hr>
        <div class="bank_transfer">
            <img src="assets\Location_dot_black.svg.png">
            <span>Direct Bank Transfer</span>
        </div>
        <p class="p1">Make your payment directly into our bank account.
            Please use your Order ID as the payment reference.
            Your order will not be shipped until the funds have cleared in our account.
        </p>
        <div class="bank_transfer">
            <img src="assets\white_circle.png">
            <p>Direct Bank Transfer</p>
        </div>
        <div class="bank_transfer">
            <img src="assets\white_circle.png">
            <p>Cash On Delivery</p>
        </div>
        <p class="p2">Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our<span> privacy policy.</span></p>
        <button>Place Order</button>
    </div>
</div>

<div class="dashboard">
    <div class="block">
        <img src="assets\svg\Trophy.svg">
        <div class="text">
            <p>High Quality</p>
            <span>crafted from top materials</span>
        </div>
    </div>
    <div class="block">
        <img src="assets\svg\Checked.svg">
        <div class="text">
            <p>Warranty Protection</p>
            <span>Over 2 years</span>
        </div>
    </div>
    <div class="block">
        <img src="assets\svg\Gift.svg">
        <div class="text">
            <p>Free shipping</p>
            <span>Order over 150 $</span>
        </div>
    </div>
    <div class="block">
        <img src="assets\svg\Support.svg">
        <div class="text">
            <p>24 / 7 Support</p>
            <span>Dedicated support</span>
        </div>
    </div>
</div>
<hr>
<div class="footer">
    <div class="left_bar">
        <p>Funiro.</p>
        <span>400 University Drive Suite 200 Caral <br> Gables,<br>FL 33134 USA</span>
    </div>
    <div class="links">
        <ul>
            <p>Links</p>
            <li><a>Home</a></li>
            <li><a>Shop</a></li>
            <li><a>About</a></li>
            <li><a>Contact</a></li>
        </ul>
    </div>
    <div class="help">
        <ul>
            <p>Help</p>
            <li>Payment Options</li>
            <li>Returns</li>
            <li><a>Privacy Policies</a></li>
        </ul>
    </div>
    <div class="right_bar">
        <p class="p1">Newsletter</p>
        <div>
            <p class="p2">Enter Your Email Adress</p>
            <span> SUBSCRIBE</span>
        </div>
    </div>
</div>
<div class="ending">
    <hr>
    <p>2023 furino. All rights reverved</p>
</div>
